
		label {
			display: block;
			margin-top: 10px;
        }
	
        body {
          background-image: url('pizza.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }
     